@import "../../style/theme.scss";

.row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 100px;
  transition: box-shadow 0.2s;
  cursor: pointer;

  .row-title {
    margin: 5px 5px;
    padding: 2px 10px;
    background-color: $third-color;
    border-radius: 100px;
    font: 700 30px "Poppins", sans-serif;
    box-shadow: 2px 2px $dark-grey-color;
    transition: padding 0.2s, margin 0.2s;

    &:hover {
      padding-right: 17px;
      margin-right: 0px;
    }
  }

  img {
    margin-left: 10px;
    height: 75px;
    width: 100px;
    border: 1px solid white;
    object-fit: cover;
  }
}
