$first-color: #ea5c2b;
$second-color: #ff7f3f;
$third-color: #f6d860;
$fourth-color: #95cd41;

$dark-grey-color: #535353;
$grey-color: #a1a1a1;
$light-grey-color: #bebebe;

$white-color: #f3f3f3;

$dark-color: #1d1d1d;

$default-border: 4px 4px $dark-grey-color;
